<main>
<header class="page-header">
	<div class="container">
		<h1>The Big Picture</h1>

	</div>
</header>

<div class="container">

	<section>
		<h2>About</h2>
		<p>The Big Picture is an app for keeping track of.</p>

		<p>Share on Twitter</p>
	</section>
	
	

	<section>
		<h2>Privacy</h2>
		<p>The data from this is stored securely in an external database. This is because I am hoping to make the app available on other platforms (e.g. Android) in the future so it can't be stored in the browser.</p>

		<p>I am hoping to make apps for other platforms in the future, and so the data is stored in an external secure database. </p>
	</section>

	

</div>

</main>