<div class="loading-animation">
<div class="spinner">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>
</div>


<main>
<header class="page-header">
	<div class="container">
		<h1>{{goal.title}}</h1>

		<nav class="floating-nav-buttons">
			<ul>
				<li>
					<a ng-click="showModal('updateGoalModal')"> 
						<i class="fa fa-pencil"></i> 
						<span class="icon-label">Edit Goal</span>
					</a>
				</li>

				<li>
					<a ng-click="showModal('deleteGoalModal')"> 
						<i class="fa fa-trash"></i> 
						<span class="icon-label">Delete Goal</span>
					</a>
				</li>

				<li ng-if="tasksCompleted">
					<a ng-click="updateGoalStatus(goal)"> 
						<i ng-if="goal.status === 'active'" class="fa fa-check"></i>
						<span ng-if="goal.status === 'active'" class="icon-label">Complete</span>

						<i ng-if="goal.status === 'complete'" class="fa fa-times"></i> 
						<span ng-if="goal.status === 'complete'" class="icon-label">Undo</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

<div class="container initial-hidden">


	<div class="item-complete-box" ng-if="goal.status === 'complete'">Goal Completed!</div>

	<div class="site-box" ng-class="{ taskListItemOverdue: isOverdue(goal.deadline) && goal.status === 'active' }">
		<span class="task__title">Why?</span><br>
		<p>{{ goal.description }}</p>

		<span class="task__title">Deadline</span><br>
		{{ goal.deadline | momentDate }}
	</div>


	<section class="goal-overview">
		<h2>
			{{tasks.length}} Tasks<br>
			{{completedTasksNo}} Completed<br>
		</h2>
	</section>

	
	
	<section>
		<h2>Tasks</h2>

		<a class="inline-button-right" ng-click="showModal('addTaskModal')"> 
			<i class="fa fa-plus"></i> 
		</a>


		<div class="item-complete-box" ng-if="tasksCompleted">
			Tasks Complete!<br><br>
			You've completed all the tasks for this goal. Now you can mark the goal as complete or add more tasks.
		</div>
		<div class="error-message-container" ng-if="tasks.length === 0">
			<div class="alert-message alert-message--warning alert-message-fw">
				<p>Looks like you haven't added any tasks to this goal yet. Create a task to get started!</p>

				<a ng-click="showModal('addTaskModal')">Add a Task</a>
			</div>
		</div>

		<ul class="task-list">
			<li ng-repeat="task in tasks | orderBy: 'deadline' | filter: { status : 'active' }" class="task-list-item no-ul" ng-class="{ taskListItemOverdue: isOverdue(task.deadline) }">
				<span class="task__title">
					<a href="#/tasks/{{task.$id}}">{{task.title}}</a>
				</span><br>
				<span class="task__deadline">by {{task.deadline | momentDate }}</span><br>
			
				<div class="task__statusbox" ng-click="updateTaskStatus(task)">
					<i class="fa fa-check"></i>
				</div>
			</li>
		</ul>


		<section>
			<ul class="task-list">
				<li ng-repeat="task in tasks | filter: { status : 'complete' }" class="task-list-item no-style taskListItemCompleted">
					<span class="task__title">
						<a href="#/tasks/{{task.$id}}">{{task.title}}</a>
					</span><br>
					<span class="task__deadline">by {{task.deadline | momentDate }}</span><br>
				
					<div class="task__statusbox" ng-click="updateTaskStatus(task)">
						<i class="fa fa-check"></i>
					</div>
				</li>
			</ul>
		</section>
	</section>

</div>

</main>





<div class="modal-container">
	<section class="modal updateGoalModal">

		<h2>Update Goal</h2>

		<form name="updateGoalForm" ng-submit="updateGoal(goal)" novalidate>

			<div class="error-message-container"></div>

			<div class="input-group">
				<label for="">What's your goal? *</label>
				<input type="text" ng-model="goal.title" required>
			</div>

			<div class="input-group">
				<label for="">Why do you want to do this? *</label>
				<textarea name="" id="" cols="30" rows="5" ng-model="goal.description" required></textarea>
			</div>

			<div class="input-group">
				<label for="">When's the deadline? *</label>
				<input type="text" ng-model="goal.deadline" data-field="datetime" required>
			</div>

			<div class="input-group--submit">
			<input type="submit" value="Update Goal">
			</div>
		</form>

		<a ng-click="hideModal()">Close</a>
		
	</section>


	<section class="modal addTaskModal">

		<h2>Add Task</h2>


		<form name="quickAddTaskForm" ng-submit="quickAddTask(task)" novalidate>

			<div class="error-message-container"></div>
			
			<div class="input-group">
				<label for="">What's the task? *</label>
				<input type="text" ng-model="task.title" required>
			</div>


			<div class="input-group">
				<label for="">When's the deadline? *</label>
				<input type="text" ng-model="task.deadline" data-field="datetime" required>
			</div>


			<div class="input-group--submit">
				<input type="submit" value="Add Task">
			</div>

		</form>

		<a ng-click="hideModal()">Close</a>
		
	</section>



	<section class="modal deleteGoalModal">

		<h2>Delete Goal</h2>

		<p>Deleting a goal is permanent and will delete any tasks associated with the goal.</p>
		
		<form ng-submit="deleteGoal(goal)" novalidate>

			<div class="input-group--submit">
				<input type="submit" value="Delete Goal">
			</div>
		</form>



		<a ng-click="hideModal()">Close</a>
		
	</section>
</div>

<div class="dateTimePickerBox"></div>