<div class="loading-animation">
<div class="spinner">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>
</div>

<main>
<header class="page-header">
	<div class="container">
		<h1>Task</h1>

		<nav class="floating-nav-buttons">
			<ul>
				<li>
					<a ng-click="showModal('updateTaskModal')"> 
						<i class="fa fa-pencil"></i> 
					</a>
				</li>

				<li>
					<a ng-click="showModal('updateAlarmModal')"> 
						<i class="fa fa-bell"></i> 
					</a>
				</li>
				
				<li>
					<a ng-click="showModal('deleteTaskModal')"> 
						<i class="fa fa-trash"></i> 
					</a>
				</li>

				<li>
					<a ng-click="updateTaskStatus(task)"> 
						<i class="fa fa-check"></i> 
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

<div class="container initial-hidden">

	<div class="item-complete-box" ng-if="task.status === 'complete'">Task Completed!</div>

	<div class="site-box no-ul">

		<span class="task__title">{{task.title}}</span><br>
		<span class="task__deadline">by {{task.deadline | momentDate }}</span>
		
		<br>

		<a href="#/goals/{{task.goal}}">
			<span class="task__deadline">for {{ goalTitle }}</span>
		</a>


	</div>

	<div class="site-box" ng-if="task.reminder != task.deadline">
		Alarm set for {{ task.reminder }}
	</div>

	


</div>
</main>





<div class="modal-container">
	<section class="modal updateTaskModal">

		<h2>Update Task</h2>

		<form novalidate name="updateTaskForm" ng-submit="updateTask(task)">

			<div class="error-message-container"></div>
		
			<div class="input-group">
				<label for="">What's the task? *</label>
				<input type="text" ng-model="task.title" required>
			</div>

			<div class="input-group">
				<label for="">What goal is this for? *</label>
				
				<select name="goalsList" id="goalsList" ng-model="goalsList" ng-options="option.name for option in goalsListOptions track by option.id"></select>
			</div>

			<div class="input-group">
				<label for="">When's the deadline? *</label>
				<input type="text" ng-model="task.deadline" data-field="datetime" required>
			</div>

			<div class="input-group">
				<label for="">When do you want to be reminded about this?</label>
				<input type="text" ng-model="task.reminder" data-field="datetime">
			</div>

			<div class="input-group--submit">
			<input type="submit" value="Update Task">
			</div>

		</form>

		<a ng-click="hideModal()">Close</a>
		
	</section>



	<section class="modal updateAlarmModal">

		<h2>Alarm</h2>

		<form novalidate name="addAlarmForm" ng-submit="addAlarm(taskAlarm)">

			<div class="error-message-container"></div>

			<div class="input-group">
				<label for="">When do you want to be reminded about this? *</label>
				<input type="text" ng-model="taskAlarm.deadline" data-field="datetime" required>
			</div>

			<!-- <div class="input-group">
				<label for="">Repeat this alarm every</label>
				<input type="text" ng-model="taskAlarm.repeatEvery" data-field="datetime">
			</div> -->

			<div class="input-group--submit">
			<input type="submit" value="Add Alarm">
			</div>

		</form>


		<form novalidate name="removeAlarmForm" ng-submit="removeAlarm(taskAlarm)">
			<div class="input-group--submit">
			<input type="submit" value="Remove Alarm">
			</div>
		</form>

		<a ng-click="hideModal()">Close</a>
		
	</section>

	<section class="modal deleteTaskModal">

		<h2>Delete Task</h2>

		<div class="error-message-container"></div>

		<p>Deleting a task is permanent.</p>
		
		<form ng-submit="deleteTask(goal)" novalidate>

			<div class="input-group--submit">
				<input type="submit" value="Delete Task">
			</div>
		</form>



		<a ng-click="hideModal()">Close</a>
		
	</section>

</div>

<div class="dateTimePickerBox"></div>
