<div class="loading-animation">
<div class="spinner">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>
</div>

<main>
<header class="page-header">
	<div class="container">
		<h1>All Tasks</h1>

		<nav class="floating-nav-buttons">
			<ul>
				<li>
					<a ng-click="showModal('addTaskModal')"> 
						<i class="fa fa-plus"></i> 
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

<div class="container initial-hidden">

	<div class="error-message-container" ng-if="tasks.length === 0 || goals.length === 0">
		<div class="alert-message alert-message--warning">

			<span ng-if="goals.length === 0">
				<p>Looks like you haven't got any goals yet. You need to create a goal before you can add tasks.</p>

				<a ng-href="#/goals">Add a Goal</a>
			</span>

			<span ng-if="tasks.length === 0 && goals.length != 0">
				<p>Looks like you haven't got any tasks yet. Create a task to get started!</p>

				<a ng-click="showModal('addTaskModal')">Add a Task</a>
			</span>

			
		</div>
	</div>

	<ul class="task-list">
		<li ng-repeat="task in tasks | orderBy: 'deadline' | filter: { status : 'active' }" class="task-list-item no-style" ng-class="{ taskListItemOverdue: isOverdue(task.deadline) }">
			<a href="#/tasks/{{task.$id}}">
			<span class="task__title">{{task.title}}</span><br>
			<span class="task__deadline">by {{task.deadline | momentDate }}</span>
			</a>
			
			<br>

			<a href="#/goals/{{task.goal}}">
				<span class="task__deadline" ng-controller="minGoalsCtrl" ng-init="getGoalTitle(task.goal)">for {{ goalTitle }}</span>
			</a>

			<div class="task__statusbox" ng-click="updateTaskStatus(task)">
				<i class="fa fa-check"></i>
			</div>
		</li>
	</ul>

</div>

</main>





<!-- Add Task Modal -->
<div class="modal-container">
	<section class="modal addTaskModal">

		<h2>Add Task</h2>

		<form novalidate name="addTaskForm" ng-submit="addTask(task)">

			<div class="error-message-container"></div>
		
			<div class="input-group">
				<label for="">What's the task? *</label>
				<input type="text" ng-model="task.title" required>
			</div>

			<div class="input-group">
				<label for="">What goal is this for? *</label>
				
				<select name="goalsList" id="goalsList" ng-model="goalsList" ng-options="option.name for option in goalsListOptions track by option.id" required></select>
			</div>

			<div class="input-group">
				<label for="">When's the deadline? *</label>
				<input type="text" ng-model="task.deadline" data-field="datetime" required>
			</div>

			<div class="input-group">
				<label for="">When do you want to be reminded about this?</label>
				<input type="text" ng-model="task.reminder" data-field="datetime">
			</div>

			<div class="input-group--submit">
			<input type="submit" value="Create Task">
			</div>

		</form>


		<a ng-click="hideModal()">Close</a>
		
	</section>

</div>

<div class="dateTimePickerBox"></div>